<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>change password</title>
</head>
<body>
<form action="/author/forgotPassword/change" method="post">
    <input type="hidden" name="email" th:value="${email}">
    <input type="hidden" name="token" th:value="${token}">
    <input type="password" name="password" placeholder="please input password"><br>
    <input type="password" name="repeatPassword" placeholder="please repeat password"><br>
    <input type="submit" value="change">

</form>
</body>
</html>